DocuTAPUploading/DocuTAPUploader/Service References/DocutapService/Docutap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.DataModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.DataModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DocutapModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AltText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="siteid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocutapModel" nillable="true" type="tns:DocutapModel" />
  <xs:complexType name="Mappingmodel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClinicEid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocutapEid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mappingmodel" nillable="true" type="tns:Mappingmodel" />
  <xs:complexType name="ArrayOfSite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Site" nillable="true" type="tns:Site" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSite" nillable="true" type="tns:ArrayOfSite" />
  <xs:complexType name="Site">
    <xs:sequence>
      <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Site" nillable="true" type="tns:Site" />
</xs:schema>