DocuTAPUploading/DocuTAPUploader/Service References/DocutapService/Docutap2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65057/DocutapService/Docutap.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.DataModels" />
  <xs:element name="UploadContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadContentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateUploadLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.DataModels" minOccurs="0" name="docutapModel" nillable="true" type="q1:DocutapModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateUploadLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateUploadLinkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.DataModels" minOccurs="0" name="docutapModel" nillable="true" type="q2:DocutapModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidUploadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateDL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common.DataModels" minOccurs="0" name="docutapModel" nillable="true" type="q3:DocutapModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateDLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateDLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Common.DataModels" minOccurs="0" name="model" nillable="true" type="q4:Mappingmodel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateMappingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpireSiteID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewDirectory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpireSiteIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExpireSiteIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllSiteIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllSiteIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common.DataModels" minOccurs="0" name="AllSiteIdsResult" nillable="true" type="q5:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>