DocuTAPUploading/ClinicUploader/Service References/DocutapService/Docutap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DocutapMacro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filepath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocutapMacroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocutapMacroResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>