DocuTAPUploading/ClinicUploader/Service References/ClinicService/Clinic.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Clinic" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65057/ClinicService/Clinic.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65057/ClinicService/Clinic.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClinic_MacroStriping_InputMessage">
    <wsdl:part name="parameters" element="tns:MacroStriping" />
  </wsdl:message>
  <wsdl:message name="IClinic_MacroStriping_OutputMessage">
    <wsdl:part name="parameters" element="tns:MacroStripingResponse" />
  </wsdl:message>
  <wsdl:message name="IClinic_UploadContent_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadContent" />
  </wsdl:message>
  <wsdl:message name="IClinic_UploadContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadContentResponse" />
  </wsdl:message>
  <wsdl:portType name="IClinic">
    <wsdl:operation name="MacroStriping">
      <wsdl:input wsaw:Action="http://tempuri.org/IClinic/MacroStriping" message="tns:IClinic_MacroStriping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClinic/MacroStripingResponse" message="tns:IClinic_MacroStriping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IClinic/UploadContent" message="tns:IClinic_UploadContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClinic/UploadContentResponse" message="tns:IClinic_UploadContent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClinic" type="tns:IClinic">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MacroStriping">
      <soap:operation soapAction="http://tempuri.org/IClinic/MacroStriping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadContent">
      <soap:operation soapAction="http://tempuri.org/IClinic/UploadContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Clinic">
    <wsdl:port name="BasicHttpBinding_IClinic" binding="tns:BasicHttpBinding_IClinic">
      <soap:address location="http://localhost:65057/ClinicService/Clinic.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>